# Banco de dados para prática de querys

Banco de dados para análises de recursos humanos e prática de consultas em SQL.

 #### Configurações iniciais.

In [1]:
%load_ext sql

In [2]:
# Conexão com o Banco de Dados
%sql sqlite:///empresa.db

- Criação da tabela de Cargos.

In [6]:
%%sql

CREATE TABLE IF NOT EXISTS cargos (
    id_cargo INTEGER PRIMARY KEY AUTOINCREMENT,
    nome_cargo VARCHAR(100) NOT NULL,
    descricao TEXT, -- descrição mais longa, sem limite de caracteres
    nivel_hierarquico VARCHAR(50),
    departamento VARCHAR(100),
    data_criacao DATE DEFAULT CURRENT_DATE -- se não for preenchido, assumirá a data atual automaticamente
);

 * sqlite:///empresa.db
Done.

[]

- Criação da tabela de Funcionários.

In [8]:
%%sql 

CREATE TABLE IF NOT EXISTS funcionarios (
    id_funcionario INTEGER PRIMARY KEY AUTOINCREMENT,
    nome VARCHAR(100) NOT NULL,
    sobrenome VARCHAR(100) NOT NULL,
    data_nascimento DATE,
    genero CHAR(1),
    cpf VARCHAR(14) UNIQUE,
    email VARCHAR(100) UNIQUE,
    telefone VARCHAR(20),
    endereco TEXT,
    id_cargo INTEGER,
    data_contratacao DATE NOT NULL,
    FOREIGN KEY (id_cargo) REFERENCES cargo(id_cargo)
);

 * sqlite:///empresa.db
Done.

[]

- Criação de tabela Salários.

In [9]:
%%sql

CREATE TABLE IF NOT EXISTS salarios (
    id_salario INTEGER PRIMARY KEY AUTOINCREMENT,
    id_funcionario INTEGER,
    valor_salario DECIMAL(10,2) NOT NULL,
    data_inicio DATE NOT NULL,
    data_fim DATE,
    tipo_salario VARCHAR(50) DEFAULT 'regular', -- regular, bônus, comissão, etc.
    FOREIGN KEY (id_funcionario) REFERENCES funcionarios(id_funcionario)
);

 * sqlite:///empresa.db
Done.

[]

- Criação da tabela de Departamentos.

In [11]:
%%sql

CREATE TABLE IF NOT EXISTS departamentos (
    id_departamento INTEGER PRIMARY KEY AUTOINCREMENT,
    nome_departamento VARCHAR(100) NOT NULL,
    descricao TEXT,
    id_gerente INTEGER
    data_criacao DATE DEFAULT CURRENT_DATE,
    FOREIGN KEY (id_gerente) REFERENCES funcionarios(id_funcionario)
);

 * sqlite:///empresa.db
Done.

[]

- Criação da tabela de Benefícios.

In [17]:
%%sql

CREATE TABLE IF NOT EXISTS beneficios (
    id_beneficio INTEGER PRIMARY KEY AUTOINCREMENT,
    nome_beneficio VARCHAR(100) NOT NULL,
    descricao TEXT,
    valor DECIMAL(10,2),
    tipo VARCHAR(50)
);

-- tabela associativa entre funcionários e benefícios

/* 
   Bancos de dados relacionais não suportam diretamente relacionamentos muitos-para-muitos.
   Então, para modelar esse tipo de relação, há a quebra o relacionamento N:N em dois relacionamentos 1:N
   usando uma tabela intermediária. Assim garantimos que o relacionamento seja normalizado e consistente.
*/

CREATE TABLE IF NOT EXISTS funcionario_beneficio (
    id_funcionario INTEGER,
    id_beneficio INTEGER,
    data_inicio DATE NOT NULL,
    data_fim DATE,
    PRIMARY KEY (id_funcionario, id_beneficio, data_inicio),
    -- a chave primária composta permite múltiplas entradas para o mesmo funcionário e benefício em períodos diferentes.
    FOREIGN KEY (id_funcionario) REFERENCES funcionarios(id_funcionario),
    FOREIGN KEY (id_beneficio) REFERENCES beneficios(id_beneficio)
);

 * sqlite:///empresa.db
Done.
Done.

[]

- Criação da tabela de Avaliação de Desempenho.

In [18]:
%%sql

CREATE TABLE IF NOT EXISTS avaliacoes (
    id_avaliacao INTEGER PRIMARY KEY AUTOINCREMENT,
    id_funcionario INTEGER,
    id_avaliador INTEGER, 
    data_avaliacao DATE NOT NULL,
    pontuacao DECIMAL(3,1),
    comentarios TEXT,
    FOREIGN KEY (id_funcionario) REFERENCES funcionarios(id_funcionario),
    FOREIGN KEY (id_avaliador) REFERENCES funcionarios(id_funcionario)
);

 * sqlite:///empresa.db
Done.

[]

- Criação da tabela Histórico de Cargos.

In [19]:
%%sql 

CREATE TABLE IF NOT EXISTS historico_cargos (
    id_historico INTEGER PRIMARY KEY AUTOINCREMENT,
    id_funcionario INTEGER,
    id_cargo_anterior INTEGER,
    id_cargo_novo INTEGER, 
    data_mudanca DATE NOT NULL,
    motivo VARCHAR(200),
    FOREIGN KEY (id_funcionario) REFERENCES funcionarios(id_funcionario),
    FOREIGN KEY (id_cargo_anterior) REFERENCES cargos(id_cargo),
    FOREIGN KEY (id_cargo_novo) REFERENCES cargos(id_cargo)
);

 * sqlite:///empresa.db
Done.

[]